
body {
    background: #FB7F67;
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
  }
 
.header-logo {
    width: 40%;
}

#homepage-image {
    width: 100%;
}

#title-home-page {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 5rem;
}

nav, 
#menu-checkbox {
    display: none;
}

.logo {
    display: flex;
    justify-content: center;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

header {   
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    position: absolute;
    background: #FB7F67;
}

nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.hamburger-icon {
    font-size: 3rem;
    align-self: flex-end;
}

@media (min-width: 650px) {
    header {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        position: static;
        display: flex;
        flex-direction: row;
    }

    .hamburger-icon {
        display: none;
    }

    nav a {
        display: inline-block;
    }

    .header-logo {
        width: 50%;
    }
}

footer {
    background: black;
    height: 500px;
    padding: 0px;
    width: 100%;
} 




@media (min-width: 650px) {
  header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    position: static;
    background-color: aliceblue;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .hamburger-icon {
    display: none;
  }

  nav a {
    display: inline-block;
    font-size: 1rem;
  }

  .header-logo {
    width: 50%;
    margin-left: 0;
  }
  .social-links-div {
    width: 33%;
  }
  .homepage-image {
    width: 649px;
    align-items: center;
  }
}

@media (min-width: 1100px) {
    nav a {
        font-size: 2rem;
    }
}
