body {
  background: #44d5e1;
}


.contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-left: 18%;
}

.form-input {
  width: 80%;
  border-radius: 5px;
}

.form-label {
  text-align: left;
}

.btn-submit {
  width: 80%;
  margin-top: 20px;
  border-radius: 5px;
}

#form-message {
  height: 163px;
  box-sizing: border-box;
  resize: none;
  width: 80%;
}

.contact-text {
    font-size: 1.5rem;
}

@media (min-width: 650px) {
  .form-input {
    width: 60%;
    border-radius: 5px;
  }
}
