#exhibition-body {
  background: #1D6CBB;
}

#exhibitions.hamburger-icon {
    background: #1D6CBB;
}

.exhibitions-nav a {
    color: black;
    text-decoration: none;
}

.exhibition-active-a {
  background: #fa992d;
  text-decoration-thickness: 0.3rem;
  text-underline-offset: 0.3rem;
  color: black;
}
