
body {
    background: #FB7F67;
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
  }
 
.header-logo {
    width: 50%;
    margin-left: 30%;
}

#homepage-image {
    width: 100%;
}

#title-home-page {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 3rem;
}

nav, 
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

header {   
    width: 100%;
    display: flex;
    justify-content: space-between;

}

nav {
    position: absolute;
    background: #FB7F67;
}

nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.hamburger-icon {
    font-size: 3rem;
    align-self: flex-end;
}

@media (min-width: 650px) {
    header {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        position: static;
        display: flex;
        flex-direction: row;
    }

    .hamburger-icon {
        display: none;
    }

    nav a {
        display: inline-block;
    }

    .header-logo {
        width: 50%;
    }
}

footer {
    background: black;
    height: 500px;
    padding: 0px;
    width: 100%;
} 