@import url(./exhibitions.css);
@import url(./privacy-terms.css);

body {
  background: #f9416a;
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  background-color: rgb(223, 233, 230);
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 50px 0px;
}

article.privacy-terms {
  flex-direction: column;
  align-items: flex-start;
}

.header-logo {
  width: 190px;
  margin-left: 0;
}

.article-image {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

#title-home-page {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 3rem;
}

nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  position: fixed;
  background: #e5eef0;
  padding-right: 20px;
  right: 0px;
  top: 152px;
  border-radius: 10px 0 0 10px;
}

nav li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-size: 0.85rem;
}

ul, li {
  list-style-type: none;
}

nav a:hover {
  background: #f9416a;
}

.hamburger-icon {
  font-size: 2rem;
  align-self: flex-end;
  margin-right: 15px;
  height: 40px;
  position: fixed;
  right: 0px;
  top: 95px;
  padding: 5px;
  border-radius: 5px;
}

#home.hamburger-icon {
  background: #f9416a;
}

footer {
  background: black;
  height: 300px;
  padding: 0px;
  width: 100%;
  margin-top: 50px;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 20px;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin: 20px;
}

h3 {
  color: white;
  margin: 10px;
}

.exhibitions-a-large {
  display: none;
}

.article-text {
  padding-left: 5%;
  padding-right: 5%;
}

.footer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-div a {
  color: white;
}

.social-links {
  color: white;
  font-size: 3rem;
}

.social-links-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}

.active-nav-a {
  background-color: #44d5e1;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.5rem;
}

.paragraph-bold {
  font-weight: 800;
}

#theme-title {
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
  color: black;
}

#copyright {
  color: white;
  text-align: center;
  margin-top: 30px;
}

@media (min-width: 730px) {
  header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    position: static;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 0px;
    border-radius: 0px;
  }

  article {
    width: 100%;
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .exhibitions-a-large {
    display: inline;
  }
  .exhibitions-a-small {
    display: none;
  }
  .hamburger-icon {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
  }
  nav ul a, li a {
    font-size: 1rem;
  }

  .article-text {
    padding-left: 15%;
    padding-right: 15%;
  }
  .header-logo {
    width: 50%;
    margin-left: 0;
  }
  .social-links-div {
    width: 33%;
  }
  .article-image {
    width: 649px;
    align-items: center;
  }
}

@media (min-width: 1330px) {
  nav li a {
    font-size: 1.5rem;
  }
  article {
    width: 70%;
    border-radius: 15px;
  }
}
